* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f2f2f2;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Topo */
.topo {
    width: 100%;
    background: #fd5068;
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 22px;
}

/* Container principal */
.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card */
.card {
    width: 320px;
    height: 420px;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    position: relative;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Informações */
.info {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
    color: white;
}

.info h2 {
    font-size: 22px;
}

.info p {
    font-size: 14px;
}

/* Botões */
.botoes {
    display: flex;
    gap: 25px;
    margin-bottom: 20px;
}

.btn {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: none;
    font-size: 26px;
    cursor: pointer;
}

.nao {
    background: #ffdddd;
    color: #ff4d4d;
}

.like {
    background: #ddffef;
    color: #00cc88;
}
